:root{
    --side-margin: clamp(2vw, 4vw, 2vw); 
  }

html{
    scroll-behavior: smooth;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.section{
    scroll-margin-top: 90px;
    background-color: #ffffff;
}
.site-header {
    min-height: 100vh;
  padding: 40px var(--side-margin);
  display: flex;
  flex-direction: column;
}
  
  .site-header h1 {
    margin: 0;
    font-size: clamp(2vw, 2.5vw, 10vw);    
    letter-spacing: 1px;
  }

  .site-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 8px;
  }
  
  .site-header nav a{
    text-decoration: none;
    color: #040404;
    font-weight: 500;
    margin-left: 4vw;                      
  }
  
  .site-header nav a:hover {
    text-decoration: underline;
  }
  
  .section-title{
    text-align: center;
    font-size: clamp(1vw, 4vw, 3vw);
    margin: 40px 0 20px;
  }
  
  .section-title::after{
    content: "";
    display: block;
    width: clamp(15vw, 12vw, 5vw);        
    height: 1px;
    background: #ccc;
    margin: 10px auto 0;
  }
  .hero{
    margin-top: clamp(60px, 15vh, 200px);
  }
  .hero-kicker{
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: clamp(12px, 1.2vw, 14px);
}

  .stretch-title{
    --color-one: hsl(210 80% 50%);
    --color-two: hsl(320 100% 75%);
    --stretch-multiplier: 5;
    --stretch: 1;
  
    font-size: clamp(2rem, 10vmin, 6rem);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: grid;
    line-height: 1;
    margin: 0;
  }
  
  .stretch-title:hover{
    --stretch: var(--stretch-multiplier);
  }
  
  .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .stretch-word[aria-hidden]{
    display: inline-flex;
    gap: 0.02ch;
    align-items: center;
    color: black;
  }
  
  .stretch-o{
    height: 1.12ch;
    width: calc(var(--stretch) * 1.16ch);
    translate: 0 -0.01ch;
    border: 0.25ch solid black;
    border-radius: 1ch;
    transition: width 0.2s;
    position: relative;
  }
  
  .stretch-o::before,
  .stretch-o::after{
    content: "";
    border: 0.25ch solid var(--color);
    position: absolute;
    inset: -0.25ch;
    border-radius: 1ch;
    opacity: calc(-1 + var(--stretch));
    transition: opacity 0.2s;
  }
  
  .stretch-o::before{ --color: var(--color-one); }
  
  .stretch-o::after{
    --color: var(--color-two);
    mask: radial-gradient(circle at top left, black, transparent);
  }
  

  
  